[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
tensorflow = "*"
keras-image-helper = "*"
tflite-runtime = "*"
numpy = "==1.26.4"

[dev-packages]
jupyter = "*"
ipython = "*"

[requires]
python_version = "3.10"
